<div class="action-area">
  <div>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Task Status</mat-label>
      <mat-select name="status" id="status" placeholder="--Choose Status--">
        <mat-option (click)="onChangeTaskFilter('all')" value="all"
          >All</mat-option
        >
        <mat-option
          (click)="onChangeTaskFilter('inProgress')"
          value="inProgress"
          >In Progress</mat-option
        >
        <mat-option (click)="onChangeTaskFilter('pending')" value="pending"
          >Pending</mat-option
        >
        <mat-option (click)="onChangeTaskFilter('completed')" value="completed"
          >Completed</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <button (click)="onOpenAddTask()" mat-raised-button color="accent">
    <mat-icon>add_circle</mat-icon>
    Add Task
  </button>
</div>
