<mat-card class="task-card">
  <mat-card-header class="task-header">
    <mat-card-title-group>
      <mat-card-title>
        <div class="title-flex">
          <span>{{ task().title }}</span>
          <mat-chip-set>
            <mat-chip>{{
              task().category === "personal" ? "Personal" : "Work"
            }}</mat-chip>
          </mat-chip-set>
        </div>
      </mat-card-title>
      <mat-card-subtitle>
        <small>{{ task().dueDate }}</small>
      </mat-card-subtitle>
    </mat-card-title-group>

    <div class="title-icons">
      <button mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onDelete(task().id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content class="task-content">
    <p>{{ task().description }}</p>
  </mat-card-content>

  <mat-card-actions align="end" class="task-action">
    @if(task().status === 'inProgress') {
    <button
      mat-stroked-button
      [color]="task().status === 'completed' ? 'primary' : 'basic'"
      (click)="onChangeStatus({ taskId: task().id, status: 'completed' })"
    >
      <mat-icon>{{
        task().status === "completed" ? "task_alt" : "radio_button_unchecked"
      }}</mat-icon>
      Complete
    </button>
    <button
      mat-stroked-button
      (click)="onChangeStatus({ taskId: task().id, status: 'pending' })"
    >
      Pending
    </button>
    } @else { @if (task().status === 'pending') {
    <button
      mat-stroked-button
      [color]="task().status === 'inProgress' ? 'primary' : 'basic'"
      (click)="onChangeStatus({ taskId: task().id, status: 'inProgress' })"
    >
      In Progress
    </button>
    } @else {
    <button mat-stroked-button color="primary">
      <mat-icon>task_alt</mat-icon>
      Completed
    </button>
    <button
      mat-stroked-button
      [color]="task().status === 'inProgress' ? 'primary' : 'basic'"
      (click)="onChangeStatus({ taskId: task().id, status: 'inProgress' })"
    >
      In Progress
    </button>
    } }
  </mat-card-actions>
</mat-card>
