<mat-card class="form-container">
  <h1>New Task</h1>
  <form (ngSubmit)="onSubmit()" class="form">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput required name="title" [(ngModel)]="taskData.title" />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          required
          name="description"
          [(ngModel)]="taskData.description"
        ></textarea>
      </mat-form-field>
    </p>

    <p>
      <label>Category: </label>
      <mat-radio-group required name="category" [(ngModel)]="taskData.category">
        <mat-radio-button value="personal">Personal</mat-radio-button>
        <mat-radio-button value="work">Work</mat-radio-button>
      </mat-radio-group>
    </p>

    <P>
      <!-- TODO: validation of no prev date allowed -->
      <mat-form-field appearance="outline">
        <mat-label>Due Date</mat-label>
        <input
          matInput
          required
          [matDatepicker]="datepicker"
          name="dueDate"
          [(ngModel)]="enteredDate"
          (ngModelChange)="onDateChange($event)"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="datepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>
              Apply
            </button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
    </P>

    <p>
      <button mat-stroked-button color="accent" type="submit">Add</button>
      <button mat-button type="reset" (click)="onCancel()">Cancel</button>
    </p>
  </form>
</mat-card>
